# macOS
.DS_Store

# Python byte code
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PyTorch Lightning logs
lightning_logs/

# pytest coverage files
.coverage*

# Sphinx build directory
docs/build/

# Poetry build artifacts
dist/
