# macOS
.DS_Store

# Python byte code
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PyTorch Lightning logs
lightning_logs/

# pytest coverage files
.coverage*

# Sphinx
docs/build/
.vscode/
examples/ode/lorenz63/.ipynb_checkpoints/

# build artifacts
build/
dist/

# data files
*.h5
*.npz
*.pkl

# vscode
.vscode
