# macOS
.DS_Store

# Python byte code
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PyTorch Lightning logs
lightning_logs/

# pytest coverage files
.coverage*

# build artifacts
build/
dist/

# data files
*.h5
*.npz
*.pkl

venv
.vscode
