.tutorials-header .header-logo {
  background-image: url("../images/torchTS_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 110px;
}

@media only screen and (max-width: 600px) {
  .tutorials-header .header-logo {
    width: 50px;
  }
}

span.pre {
  background: inherit;
}

code span.pre {
  color: #262626;
}

article.pytorch-article .class .method dt {
  font-weight: 500;
}
