{%- set external_urls = {
  'github': 'https://github.com/Rose-STL-Lab/torchTS',
  'home': 'https://github.com/Rose-STL-Lab/torchTS/',
  'get_started': ' ',
  'blog': 'https://github.com/Rose-STL-Lab/torchTS',
  'resources': 'https://github.com/Rose-STL-Lab/torchTS',
  'docs': 'https://github.com/Rose-STL-Lab/torchTS/docs',
  'twitter': 'https://twitter.com/',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://github.com/Rose-STL-Lab/torchTS/docs',
  'previous_pytorch_versions': 'https://pytorch-lightning.rtfd.io/en/latest/',
}
-%}
