name: Tests

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  pre-commit:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Set up Python
        uses: actions/setup-python@v2.2.1

      - name: Hash Python version
        id: hash
        run: echo ::set-output name=hash::$(python --version | sha256sum | cut -d' ' -f1)

      - name: Restore cache
        uses: actions/cache@v2.1.3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ steps.hash.outputs.hash }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        uses: pre-commit/action@v2.0.0

  test:
    name: '${{ matrix.os_name }}: Python ${{ matrix.python }}'
    runs-on: ${{ matrix.os }}
    needs: pre-commit

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.6, 3.7, 3.8, 3.9]
        include:
          - os: ubuntu-latest
            os_name: Linux
            poetry_cache: ~/.cache/pypoetry

          - os: macos-latest
            os_name: macOS
            poetry_cache: ~/Library/Caches/pypoetry

          - os: windows-latest
            os_name: Windows
            poetry_cache: ~\AppData\Local\pypoetry\Cache

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Set up Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python }}

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v4

      - name: Write environment information to a file
        run: |
          pwd > environment
          python --version >> environment

      - name: Restore cache
        uses: actions/cache@v2.1.3
        if: runner.os != 'Windows'
        with:
          path: ${{ matrix.poetry_cache }}
          key: poetry|${{ hashFiles('environment') }}|${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        run: poetry install

      - name: Run tests
        run: poetry run pytest tests/
